body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.vis-hidden {
  visibility: hidden;
}

.main {
  background-color: #fafafa;
}
.main-header__install-cta {
  border-color: blue;
}

.fadeineffects__item:nth-of-type(1) {
  animation-delay: 100ms;
}

.fadeineffects__item:nth-of-type(2) {
  animation-delay: 150ms;
}

.icon-element {
  fill: blue;
  stroke: blue;
  width: 75px;
  height: 75px;
}

@media (min-width: 52em) {
  .icon-element {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 64em) {
  .icon-element {
    width: 140px;
    height: 140px;
  }
}

.mb8 {
  margin-bottom: 8rem;
}

.gray {
  color: gray;
}


.tabs {
  text-align: left;
  height: 36px; /* preserve space when body becomes fixed */
}
.tabs__body {
  border-bottom: 1px solid grey;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.tabs--fixed .tabs__body {
  position: fixed;
  z-index: 10;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-color: transparent;
  background-color: blue;
  animation: fade-in 0.15s cubic-bezier(0.25, 0.15, 0.3, 1.1) backwards;
}
.tabs__tab {
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin: 0 0.125rem -2px 0.125rem;
  color: #202020;
}
.tabs--fixed .tabs__tab {
  color: white;
}
.tabs__tab:target {
  font-weight: bold;
  border-bottom: 5px solid blue;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* via: http://tholman.com/github-corners/ */
.github-corner {z-index: 1000;}
.github-corner__background {fill:#151513; color:#fff;}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out;transform-origin: 130px 106px;}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

/* override hljs */
.hljs {
  padding: 1rem;
  font-size: 0.875rem;
}
